<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/estiloFormulario.css">
    <title>Formulario</title>
</head>
<body>
    <div id="container">
        <h1>Formulario Completo</h1>
        <form id="mainForm">
            <div class="inputDiv">
                <label for="nombre">Nombre completo:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            
            <div class="inputDiv">
                <label for="edad">Edad:</label>
                <input type="text" id="edad" name="edad" required>
            </div>
            <div class="inputDiv">
                <label for="codigoPostal">Código postal:</label>
                <input type="number" id="codigoPostal" name="codigoPostal" placeholder="xxxxx" required>
            </div>
            <div class="inputDiv">
                <label for="genero">Género:</label><br>
                <div class="optionContainerDiv">
                    <div class="optionDiv">
                        <input type="radio" name="genero" id="genero" value="Masculino" required checked>
                        <label for="genero">Masculino</label>
                    </div>
                    <div class="optionDiv">
                        <input type="radio" name="genero" id="genero" value="Femenino" required>
                        <label for="genero">Femenino</label>
                    </div>
                    <div class="optionDiv">
                        <input type="radio" name="genero" id="genero" value="Otro" required>
                        <label for="genero">Otro</label>
                    </div>
                </div>
            </div>
            <div class="inputDiv">
                <label for="intereses">Intereses (selecciona todos los que apliquen):</label>
                <div class="optionContainerDiv">
                    <div class="optionDiv">
                        <input type="checkbox" name="intereses" id="intereses" value="Tecnología">
                        <label for="intereses">Tecnología</label>
                    </div>
                    <div class="optionDiv">
                        <input type="checkbox" name="intereses" id="intereses" value="Deportes">
                        <label for="intereses">Deportes</label>
                    </div>
                    <div class="optionDiv">
                        <input type="checkbox" name="intereses" id="intereses" value="Música">
                        <label for="intereses">Música</label>
                    </div>
                    <div class="optionDiv">
                        <input type="checkbox" name="intereses" id="intereses" value="Arte">
                        <label for="intereses">Arte</label>
                    </div>
                </div>
            </div>
            <div class="inputDiv">
                <label for="pais">País:</label>
                <select id="pais" name="apis">
                    <option id="pais" name="pais" value="México">México</option>
                    <option id="pais" name="pais" value="Guatemala">Guatemala</option>
                    <option id="pais" name="pais" value="Belice">Belice</option>
                    <option id="pais" name="pais" value="Estados Unidos">Estados Unidos</option>
                    <option id="pais" name="pais" value="Canadá">Canadá</option>
                    <option id="pais" name="pais" value="España">España</option>
                    <option id="pais" name="pais" value="Argentina">Argentina</option>
                </select>
            </div>
            <div class="inputDiv">
                <label for="comentarios">Comentarios adicionales:</label>
                <textarea name="comentarios" id="comentarios" placeholder="Escribe aquí tus comentarios"></textarea>
            </div>
            <div class="inputDiv">
                <label for="imagen">Subir imagen:</label>
                <input type="file" accept="*" name="imagen" id="imagen">
            </div>
            <div class="spaceDiv"></div>
            <div class="optionContainerDiv">
                <button type="submit" class="submitBtn">Enviar formulario</button>
            </div>
            <div class="spaceDiv"></div>
            </form>
    </div>
    <script src="../Dynamics/js/funciones_validacion.js"></script>
</body>
</html>